{% extends 'base.html.twig' %}

{% block title %}Student index{% endblock %}

{% block body %}
    <h1>Student index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Barcode</th>
                <th>Shortname</th>
                <th>Lastname</th>
                <th>Mas</th>
                <th>Gender</th>
                <th>Objective</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.barcode }}</td>
                <td>{{ student.shortname }}</td>
                <td>{{ student.lastname }}</td>
                <td>{{ student.mas }}</td>
                <td>{{ student.gender }}</td>
                <td>{{ student.objective ? student.objective|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_student_show', {'id': student.id}) }}">show</a>
                    <a href="{{ path('app_student_edit', {'id': student.id}) }}">edit</a>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# {% form_theme data_class '../form/StudentType.php' %}

    {{ form_start(form) }}

    {{ form_end(form) }} #}

    <a href="{{ path('app_student_barcode') }}">Create Barcode </a>
    <br>
    <a href="{{ path('app_student_new') }}">Create new</a>
    <br>
    <a href="{{ path('app_race_index')}}">Race</a>
    <br>
    <a href="../">Home</a>
{% endblock %}
