{% extends 'base.html.twig' %}

{% block title %}Run index{% endblock %}

{% block body %}
    <h1>Run index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Start</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for run in runs %}
            <tr>
                <td>{{ run.id }}</td>
                <td>{{ run.start ? run.start|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_run_show', {'id': run.id}) }}">show</a>
                    <a href="{{ path('app_run_edit', {'id': run.id}) }}">edit</a>
                    <a href="{{ path('app_run_ranking', {'id': run.id}) }}">ranking</a>
                </td>
            </tr>
        {% else %} 
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_run_new') }}">Create new</a>
    <a href="{{ path('app_run_start') }}">Start</a>

{% endblock %}