{% extends 'base.html.twig' %}

{% block title %}Race index{% endblock %}

{% block body %}
    <h1>Race index</h1>


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Filename</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for race in races %}
            <tr>
                <td>{{ race.filename }}</td>
                <td>
                    <a href="{{ path('app_race_show', {'id': race.id}) }}">show</a>
                    <a href="{{ path('app_race_edit', {'id': race.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_race_new') }}">Create new</a>
    <a href="{{ path('app_race_start') }}">Start</a>

    
    <a href="{{ path('app_student_index')}}">Student</a>
    
    <a href="../">  Home</a>
    
{% endblock %}
